@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}
.home {
  display: flex;
  padding-top: 2.5rem;
  flex-direction: column;
  gap: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100vh;
}
.home-sub{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .home-sub{
    grid-template-columns: 1fr 1fr;
    gap:10px;
  }
}
.song {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition-duration: 300ms;
  font-size: 10px;
}
.song:hover {
  background-color: #f3f4f6;
}
.song .song-hover div {
  display: none;
}
.song:hover .song-hover div {
  display: block;
}

.ml-auto {
  margin-left: auto;
}
